nav {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

nav a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: blue; 
}

nav img {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
}

section {
  height: 250px;
  background-image:
    url("../statics/images/Ellipse 11.png"),
    url("../statics/images/Rectangle 4.png"),
    url("../statics/images/Ellipse\ 3.png"),
    url("../statics/images/Ellipse\ 8.png"),
    url("../statics/images/Ellipse\ 5.png"),
    url("../statics/images/Rectangle\ 7.png");
  background-position:
    19px 129px,
    294px 118px,
    323px 152px,
    214px 110px,
    125px 156px,
    127px 148px;
  background-repeat: no-repeat;
}

section h1 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #172b4d;
  /*display: flex;
  align-items: center;*/
  line-height: 52px;
  /*position: relative;
  top: 135px;
  margin-left: 24px;
  margin-right: 24px;*/
  text-align: start;
  margin: 0;
}
section p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

section p:hover {
  text-decoration: underline;
  text-decoration-color: blue;}
section h1:hover {
  text-decoration: underline;
  text-decoration-color: blue;}