.p { margin:0; }

header {
  margin : 18px 16px;
  display: grid;
  grid-template-columns:  calc(100% - 16.66%) 16.66%;
  grid-template-rows: 1;
  max-height: 60px;
}

header h1 {
  grid-column: 1  / span 1;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  line-height: 44px;
}

header div {
  grid-column: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 4px;
}

.p section{
  margin: 18px 16px;
  display: grid;
  grid-template-rows: 6;
  grid-row-gap: 12px;
}
#general_inf {
    grid-row: 1 / span 1;
    display: flex;
}

.general_inf {
  font-family: Poppins, sans-serif ;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
}

#title {
  color: #344563;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.counter { 
  display: flex;
  align-items: center;
  margin-right: 12px;
}

#job-title {
  color: #7a869a;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

#year {
    color: #7a869a;
    display: flex;
    align-items: center;
    /*margin-right: 5px;*/
}

#title:hover {
    text-decoration: underline;
    text-decoration-color: #18a0fa;
    text-decoration-thickness: 3px;
}

#year:hover {
    text-decoration: underline;
    text-decoration-color: #18a0fa;
    text-decoration-thickness: 3px;
}

#job-title:hover {
    text-decoration: underline;
    text-decoration-color: #18a0fa;
    text-decoration-thickness: 3px;
}

.counter img:hover {
  border : 3px solid #18a0fa;
  border-radius: 50%;
}

#project_image { grid-row: 2 / 1 span;}
