.home-page {
  height: 100vh;
}

#nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  animation-name: entry_animation;
  animation-duration: 2s;
}

#nav nav {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
}

.internal-link {
  display: none;
}

@media screen and (min-width: 750px) {
  #nav {
    margin-top: 0;
    justify-content: center;
  }

  header #nav .logo {
    margin-right: 30%;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  #nav nav {
    display: none;
  }

  #nav .internal-link {
    display: flex;
    justify-content: space-between;
    min-width: 190px;
  }

  #nav .internal-link li {
    list-style: none;
  }

  #nav .internal-link li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }
}

#home_presentation {
  background-image:
    url("../statics/images/Ellipse 11.png"),
    url("../statics/images/Rectangle 4.png"),
    url("../statics/images/Ellipse\ 3.png"),
    url("../statics/images/Ellipse\ 8.png"),
    url("../statics/images/Ellipse\ 5.png"),
    url("../statics/images/Rectangle\ 7.png"),
    url("../statics/images/Ellipse 12.png"),
    url("../statics/images/Ellipse 4.png"),
    url("../statics/images/Rectangle\ 5.png"),
    url("../statics/images/Ellipse\ 13.png"),
    url("../statics/images/Ellipse\ 15.png");
  background-position:
    19px 79px,
    294px 68px,
    323px 102px,
    214px 110px,
    125px 106px,
    127px 98px,
    370px 385px,
    290px 509px,
    240px 507px,
    357px 392px,
    106px 497px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

@media screen and (min-width: 750px) {
  #home-page {
    height: 100vh;
  }

  #home_presentation {
    height: 916px;
    background-position:
      0 57px,
      850px 30px,
      880px 62px,
      379px 164px,
      300px 79px,
      299px 70px,
      13px 450px,
      600px 450px,
      559px 451px,
      0 460px,
      253px 768px;
    margin-left: 260px;
    padding-top: 150px;
    justify-content: stretch;
  }
}

.short-presentation {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  text-align: start;
  margin: 0 24px;
}

#home_presentation p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px 0 24px;
}

.short-presentation:hover {
  text-decoration: underline;
  text-decoration-color: #23a3fa;
  text-decoration-thickness: 2px;
}

#contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-right: 20px;
}

.icon:hover {
  background-color: #23a3fa;
}

#My_work {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}

#p1 {
  margin: 0;
  grid-row: 1 / 1 span;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

@media screen and (min-width: 750px) {
  #My_work {
    margin-top: 100px;
  }

  #p1 {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .project_image {
    grid-column: 1 / 1 span;
    width: 95%;
    justify-self: center;
  }

  .project_image:hover {
    animation-name: image_animation;
    animation-duration: 3s;
  }

  #general_inf {
    grid-column: 2 / 1 span;
  }

  #p1 footer .external_link {
    margin-left: 0;
    width: 15%;
  }

  #p1 footer .skills {
    margin-left: 0;
  }
}

#p2 {
  margin: 0;
  grid-row: 2 / 1 span;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  #p2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 100px;
  }

  .project_image {
    grid-column: 1 / 1 span;
    width: 95%;
    justify-self: center;
  }

  #general_inf_1 {
    grid-column: 2 / 1 span;
  }

  #p2 footer .external_link {
    margin-left: 0;
    width: 15%;
  }

  #p2 footer .skills {
    margin-left: 0;
  }
}

#p3 {
  margin: 0;
  grid-row: 3 / 1 span;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  #p3 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 100px;
  }

  .project_image {
    grid-column: 1 / 1 span;
    width: 95%;
    justify-self: center;
  }

  #general_inf_2 {
    grid-column: 2 / 1 span;
  }

  #p3 footer .external_link {
    margin-left: 0;
    width: 15%;
  }

  #p3 footer .skills {
    margin-left: 0;
  }
}

#p4 {
  margin: 0;
  grid-row: 4 / 1 span;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  #p4 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 100px;
  }

  .project_image {
    grid-column: 1 / 1 span;
    width: 95%;
    justify-self: center;
  }

  #general_inf_3 {
    grid-column: 2 / 1 span;
  }

  #p4 footer .external_link {
    margin-left: 0;
    width: 15%;
  }

  #p4 footer .skills {
    margin-left: 0;
  }
}

h3 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  line-height: 44px;
}

footer h3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

footer h3:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #23a3fa;
}

h1:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 4px;
}

#general_inf {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

.title {
  color: #344563;
  margin-right: 12px;
  line-height: 16px;
  position: relative;
  top: 2px;
}

.counter {
  margin-right: 12px;
  width: 8px;
  height: 8px;
  align-self: center;
}

.job-title {
  color: #7a869a;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.year {
  color: #7a869a;
  display: flex;
  align-items: center;
}

.title:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.year:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.job-title:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.counter img:hover {
  border: 3px solid #18a0fa;
  border-radius: 50%;
}

.project_image {
  margin-top: 16px;
}

.project_description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 5px;
}

.general footer {
  display: flex;
  flex-direction: column;
}

#home_presentation footer {
  display: flex;
  flex-direction: column;
}

#skills_0 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

.skills li {
  background-color: #ebebfe;
  border-radius: 25%;
  margin-right: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  padding: 5px 15px;
  list-style: none;
}

.skills li:hover {
  border: 3px solid #18a0fa;
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.external_link {
  border: 1px solid #396df2;
  border-radius: 5px;
  width: 45%;
  margin-top: 15px;
  padding: 10px 0;
  text-align: center;
  margin-left: 16px;
}

.external_link a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #396df2;
  text-align: center;
}

.external_link a:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#nav .logo {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 24px;
}

#general_inf_1 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#general_inf_2 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#general_inf_3 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#skills_1 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

#skills_2 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

#skills_3 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

.project_description:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#about_me {
  margin: 0 0 0 16px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  #about_me {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .data-inf {
    grid-column: 1 / span 1;
  }

  #my_skills {
    grid-column: 2 / span 1;
  }

  #spec_name {
    justify-content: space-between;
  }

  #frameworks {
    justify-content: space-between;
  }

  #sk {
    justify-content: space-between;
  }
}

#about_me h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: flex-end;
}

#about_me h1:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#presentation:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link {
  display: flex;
  flex-direction: column;
}

#profile_link h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#profile_link h2:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link ul {
  display: flex;
  padding-left: 0;
}

#profile_link ul li {
  list-style: none;
  margin-right: 12px;
}

#my_resume {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  align-self: baseline;
}

#my_resume:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#my_skills {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

#languages_skills {
  display: flex;
  flex-direction: column;
}

#spec_name {
  display: flex;
}

#spec_name p {
  align-self: flex-start;
  margin: 2px 50% 0 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

#spec_name div {
  align-self: flex-end;
}

#spec_name div img {
  vertical-align: middle;
}

#programmes {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
}

.pro {
  list-style: none;
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 5px;
}

#frameworks p {
  align-self: flex-start;
  margin: 0 50% 0 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

#frameworks {
  display: flex;
}

#frameworks div {
  margin-top: 7px;
}

#l1 {
  height: 5px;
  margin: 10px 0;
}

#l1 hr {
  background: #dfe1e6;
  height: 1px;
  vertical-align: middle;
  margin-top: 3px;
}

#sk {
  display: flex;
}

#sk p {
  align-self: flex-start;
  margin: 0 72% 0 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

#sk div {
  margin-top: 7px;
}

#sk p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#l2 {
  height: 5px;
  margin: 10px 0;
}

#l2 hr {
  background: #dfe1e6;
  height: 1px;
}

#programmes .pro p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 15px;
}

#spec_name p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#frameworks p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#l1 hr:hover {
  background-color: #18a0fa;
  color: #18a0fa;
}

#l2 hr:hover {
  background-color: #18a0fa;
  color: #18a0fa;
}

#home_presentation p:hover {
  text-decoration: underline;
  text-decoration-color: #23a3fa;
  text-decoration-thickness: 2px;
}

#programmes .pro p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.form-section {
  background: url("../statics/images/Contact_me.png");
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

@media screen and (min-width: 750px) {
  .wrap {
    justify-content: center;
    width: 50%;
    height: 25%;
    margin-bottom: 200px;
  }

  .contact-title {
    margin-bottom: 0;
  }

  .wrap .contact-parag {
    margin-bottom: 20px;
  }

  .contact {
    justify-content: center;
    align-items: center;
  }

  .wrap .contact button {
    align-self: center;
    padding: 10px;
  }

  .bottom-bar {
    display: none;
  }

  .contact textarea {
    width: 309px;
    height: 100px;
  }
}

.contact-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-parag {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: auto 10px;
  padding: 0 10px;
  margin-bottom: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
}

.contact input {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 12px;
  border: none;
}

.contact textarea {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 15px;
  border-radius: 12px;
  border: none;
}

.contact button {
  font-family: Poppins, sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  align-self: flex-start;
  padding: 20px 35px;
  border-radius: 12px;
  border: none;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.bottom-bar {
  margin-top: 50px;
  background-color: #0d151e;
  height: 4px;
  width: 150px;
  border: 1px solid #0d151e;
  border-radius: 25px;
}

.contact button:hover {
  background-color: #6070ff;
  color: #fff;
}

.contact button:active {
  background-color: #2230d2;
  color: #fff;
}

#nav .logo:hover {
  text-decoration: underline;
  text-decoration-color: #23a3fa;
  text-decoration-thickness: 2px;
}

@keyframes entry_animation {
  from {
    height: 0;
    opacity: 0;
    margin-top: -100px;
  }

  to {
    height: 100%;
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes image_animation {
  from {
    width: 85%;
  }

  to {
    width: 95%;
  }
}
